<!DOCTYPE html>
<html>
<head>
    {% block title%}
    {% endblock %}
</head>
<body>
    
    {% if current_user.is_authenticated %}
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('logout')}}">Logout</a>
    {% else %}
        <a href="{{url_for('login')}}">Login</a>
        <a href="{{url_for('register')}}">Register</a>
        <p></p>
    {% endif %}
    <hr />
    {% with messages=get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for c,m in messages%}
                <div class="{{c}}">{{ m }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content%}
    {% endblock %}
</body>
</html>